@charset "ISO-8859-1";
body{
	
	
}
.primary-background{
	background: #ffc400!important ;
}

.secondary-background{
	background: #607d8b!important ;
}

.third-background{
	background: #cfd8dc!important ;
}

